@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

body {
  background: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
}

body,
html {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}



/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5{  font-weight: 600;

}


h3,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 40px;
  letter-spacing: 2px;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  line-height: 36px;
}

.h3servicios {
  line-height: 20px;
  
  color:white;
  font-weight: 600;
  padding: 5px 8px;
}

h5 {
  letter-spacing: 1px;
  padding-top: 10px;
}

p {
  color: #666;
  font-size: 14px;
  line-height: 24px;
}

a {
  text-decoration: none !important;
  outline: none;
}


/*---------------------------------------
    General               
-----------------------------------------*/
.section-title {
  margin-bottom: 32px;
}

#overview,
.texto {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#detail,
#video,
#servicios,
#program,
#sponsors,
.contact,
footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#video{
 z-index: 1;
}


#detail,
#servicios,
#sponsors,
footer {
  text-align: center;
}

#overview h3,
#detail h3,
#video h3,
#register h3,
.venue h3,
.contact h3 {
  padding-bottom: 12px;
}

.header .btn-danger1,
.contact .btn-danger1 {
  background: #51aef3;
  border: 0px solid #ffffff;
  border-radius: 0px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 14px 42px;
  margin-top: 42px;
  margin-right: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.header .btn-danger1:hover {
  background: #0b498d;

  color: #ffffff;

}

.header .btn-danger,
.contact .btn-danger {
  background: #35a527;

  border: 0px solid #ffffff;
  border-radius: 0px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 14px 42px;
  margin-top: 42px;
  margin-right: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.contact .btn {
  border-radius: 100px;
}

.header .btn-danger:hover {
  background: #128C7E;
  border-color: #018908;
  color: #ffffff;
}


@media(max-width:768px) {
  .header .btn-danger,
  .contact .btn-danger {
    padding: 10px 32px;
  }

  .header .btn-danger1,
  .contact .btn-danger1 {

    padding: 10px 32px;
  }

}

.contact .btn-danger:hover {
  background: #128C7E;
}

.header .btn-default:hover {
  background: #ffffff;
  color: #333333;
  border-color: transparent;
}

.btn-danger3 {
  background: #51aef3;
  border: 0px solid #ffffff;
  border-radius: 0px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 14px 42px;
  margin-top: 42px;
  margin-right: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.btn-danger3:hover {
  background: #0b498d;
 
  color: #ffffff;
  
}




.carousel-section {
  width: 80%;
  margin: auto;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.slide {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 100%;
}
-----------------------------------------*/
.textoheader {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  color: #ffffff;
}

@media(max-width:768px) {
  .textoheader {
    font-size: 25px;


  }
}

/*---------------------------------------
   PLANES            
-----------------------------------------*/

.popular-categories {
  margin-top: 120px;
  margin-bottom: 120px;
}

.popular-categories .section-heading {
  text-align: center;
  margin-bottom: 40px;
}

.popular-categories .naccs {
  position: relative;
  background: #166b95;
  background-size: 400% 400%;

  animation: gradient-e60a44dc 15s ease-in-out infinite;
  border-radius: 7px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.popular-categories .icon {
  display: inline-block;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  text-align: center;
  line-height: 62px;
  color: #757575;
  background-color: #fff;
  margin-right: 15px;
}

.popular-categories .icon img {
  max-width: 46px;
}

.popular-categories .naccs .menu div.first-thumb {
  border-top-left-radius: 7px;
}

.popular-categories .naccs .menu div.last-thumb {
  margin-bottom: 0px;
  border-bottom-left-radius: 7px;
}

.popular-categories .naccs .menu div {
  margin-top: 15px;
  color: #fff;
  font-size: 13px;
  background-color: #3ebcfa;
  margin-bottom: 1px;
  height: 100px;
  text-align: left;
  border-radius: 10px;
  padding: 0px 10px;
  line-height: 100px;
  cursor: pointer;
  position: relative;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.popular-categories .naccs .menu div.active,
.popular-categories .naccs .menu div.active .thumb {
  background-color: #2b2d42;
}

.popular-categories ul.nacc {
  position: relative;
  min-height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.popular-categories ul.nacc li {
  opacity: 0;
  transform: translateX(-50px);
  position: absolute;
  list-style: none;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.popular-categories ul.nacc li.active {
  transition-delay: 0.3s;
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0px);
}

.popular-categories ul.nacc li {
  width: 100%;
}

.popular-categories .nacc .thumb .left-text {
  margin-left: 30px;
}

.popular-categories .nacc .thumb .left-text h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 20px;
}

.popular-categories .nacc .thumb .left-text p {
  color: #fff;
  margin-bottom: 30px;
}

.popular-categories .nacc .thumb .right-image {
  padding: 60px;
  display: inline-flex;
} 

.popular-categories .nacc .thumb img {
  border-radius: 7px;
}

.popular-categories .nacc .thumb .left-text .main-white-button a{
  width: 100%;
  text-align: center;
}


/* CSS */
.cotizar-btn {
  background-color: #4590c9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease; /* Agregamos una transición para hacer el cambio de color suave */
}

.cotizar-btn:hover {
  background-color: #2b2d42; /* Cambiamos el color de fondo al pasar el mouse */
}






/* Estilos para el contenedor principal */
.new-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Estilos para el grid */
.new-grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

/* Estilos para los items del grid */
.new-grid-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

/* Estilos para el contenedor del icono y título */
.new-icon-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el contenedor del icono */
.new-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



@media (max-width: 1200px) {
  .popular-categories .icon {
    margin-left: 30%;
    transform: translateX(-33px);
    text-align: center;
    display: inline-block;
  }

 
}

@media (max-width: 992px) {

  .popular-categories .nacc .thumb .left-text {
    margin: 30px;

    
  }

  .popular-categories .nacc .thumb .right-image {
    padding: 0px;
    margin: 0px 30px 30px 30px;
    display: block;
  }
  .popular-categories .naccs .menu div.first-thumb {
    border-top-right-radius: 7px;
  }
  .popular-categories .naccs .menu div.last-thumb {
    border-bottom-left-radius: 0px;
  }
}
@media screen and (max-width: 756px) {
  .new-grid-section {
      grid-template-columns: repeat(1, 1fr);

  }

  .container {
      justify-content: center;
  }
}

/*---------------------------------------
    flotante whatapp             
-----------------------------------------*/
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  /* Color verde de WhatsApp */
  color: #ffffff;
  /* Color del texto */
  border-radius: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  z-index: 1000;
  cursor: pointer;
}

.whatsapp-button:hover {
  background-color: #128C7E;
  color: #fff;
  /* Color más oscuro para el efecto hover */
}

.whatsapp-text {
  flex: 1;
  margin-right: 10px;
}

.whatsapp-logo img {
  width: 30px;
  /* Ajusta el tamaño del logo según sea necesario */
  height: auto;

}

/*---------------------------------------
    formulario post wsp           
-----------------------------------------*/
/*---------------------------------------
   Formulario de wsp             
-----------------------------------------*/
.custom-form-body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Estilos del formulario específico */
.custom-form {
  max-width: 600px; /* Ajusta el ancho máximo del formulario */
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 50px; /* Ajusta la separación desde la parte superior según tus preferencias */
  background-color: #fff;
  border-radius: 10px; /* Ajusta el radio de borde según tus preferencias para tener bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1500px) {
  .custom-form {
    margin-top: 150px; /* Ajusta la separación desde la parte superior para pantallas más pequeñas */
  }
  .custom-form h1{
    font-size: 24px;
  }
}

.custom-form h1 {
  text-align: center;
  color: #000000; /* Cambia el color del texto según tus preferencias */
  margin-bottom: 20px; /* Ajusta el espacio entre el título y el formulario */
}



/* Estilos de la barra de navegación */
.navbar {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

/*---------------------------------------
    Navigation Links section              
-----------------------------------------*/

.navbar-brand img {
  max-height: 130px;
  /* Ajusta el tamaño máximo vertical del logotipo */
  max-width: 100%;
  /* Ajusta el tamaño máximo horizontal del logotipo */
  margin-top: -50px;
}

.navbar-brand2 img {
  max-height: 140px;
  /* Ajusta el tamaño máximo vertical del logotipo */
  max-width: 100%;
  /* Ajusta el tamaño máximo horizontal del logotipo */
  margin-top: -40px;
}

@media(max-width:768px) {
  .navbar-brand img {
    max-height: 128px;
    margin-top: -46px;
    margin-left: -10px;
  }
}

.custom-navbar {
  padding: 0 0 30px 0;

  background: rgba(0, 0, 0, 0.5);
}

.custom-navbar .navbar-brand {
  color: #ffffff;
  font-weight: 600;
  font-size: 3rem;
  line-height: 40px;
}

.custom-navbar .nav li a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  line-height: 40px;
  transition: all 0.4s ease-in-out;
  font-weight: bold;
}

.custom-navbar .nav li a:hover {
  background: transparent;
  color: #66ccff;
}

.custom-navbar .navbar-nav>li>a:hover,
.custom-navbar .navbar-nav>li>a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active>a {
  background-color: transparent;
  color: #1066a7;
}

.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.custom-navbar .navbar-toggle {
  background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
  background: #ffffff;
  border-color: transparent;
}

@media(min-width:768px) {
  .custom-navbar {
    padding: 20px 0;
    border-bottom: 0;
    background: 0 0;
  }

  .custom-navbar.top-nav-collapse {
    background: rgba(0, 0, 0, 0.5);
    /* Cambia el último valor (0.5) para ajustar la opacidad */
  }



}

/*---------------------------------------
    HEADER INICIAL             
-----------------------------------------*/
.header2 {
  position: relative;
  background: url('../images/header.jpg') center no-repeat;
  background-size: cover;
  color: #ffffff;
  display: flex;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.header2::before {

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* Ajusta el valor alfa para la opacidad deseada */
}


.header2 h3 {
  letter-spacing: 2px;
}

.seguro-img-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

.seguro-img {


  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.seguro-img:hover {
  transform: scale(1.1);
  /* Efecto de "flotar" */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  /* Sombra al hacer hover */
  border-radius: 15px;

}

.seguro-img-container-right h4 {
  box-shadow: none;
  /* Evita que se aplique sombra al título en hover */
}

.seguro-img-left {
  position: absolute;
  left: 250px;

}

.seguro-img-right {
  position: absolute;
  right: 250px;
}

.seguro-content {
  position: relative;
}



.textoheader {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.btn-seguro {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .seguro-img-container {
    flex-direction: column;
    /* Hace que las imágenes estén una debajo de la otra */
  }

  .seguro-img img {
    margin: 10px auto;
    /* Espaciado entre las imágenes */
  }

  .seguro-img-container-left,
  .seguro-img-container-right {
    text-align: center;
  }
}

/*---------------------------------------
    Intro section              
-----------------------------------------*/
.header {
  position: relative;
  background: url('../images/header_Mesa\ de\ trabajo\ 1.jpg') center 1% no-repeat;
  background-size: cover;
  color: #ffffff;
  display: flex;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.header h3 {
  font-size: 18px;
}


.header::before {

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* Ajusta el valor alfa para la opacidad deseada */

}



/*
@media screen and (max-width: 768px) {
  .header {
    background: url('../images/header-movile_Mesa\ de\ trabajo\ 1\ copia.jpg') center 1% no-repeat;
  }
}

@media screen and (max-width: 480px) {
  .header {
    background: url('../images/header-movile_Mesa\ de\ trabajo\ 1\ copia.jpg') center 1% no-repeat;
    position: relative;
  
    background-size: cover;
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
}
*/
/*---------------------------------------
   Overview  section              
-----------------------------------------*/
.edgar {
  position: relative;
  width: 70%;

  margin-left: 100px;
  border-radius: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  /* Puedes ajustar los valores según tus preferencias */

}

@media only screen and (max-width: 767px) {

  .wow.fadeInUp.col-md-6,
  .wow.fadeInUp.col-sm-6 {
    width: 100%;
    /* Ajusta el ancho del contenedor para ocupar toda la pantalla */
    text-align: center;
    /* Centra el contenido del contenedor */
  }

  .wow.fadeInUp.col-md-6 img,
  .wow.fadeInUp.col-sm-6 img {
    width: 70%;
    /* Ajusta el ancho de la imagen según tus preferencias */
    margin: 20px auto;
    /* Ajusta el margen para centrar la imagen */
    display: block;
  }

  .wow.fadeInUp.col-md-6 h3,
  .wow.fadeInUp.col-sm-6 h3,
  .wow.fadeInUp.col-md-6 p,
  .wow.fadeInUp.col-sm-6 p {
    margin: 15px 0;
    /* Ajusta el margen entre el texto y la imagen */
  }
}



/*---------------------------------------
    Detail section              
-----------------------------------------*/

@keyframes gradientMovement {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#detail {
  background: linear-gradient(-45deg, #4590c9, #166b95, #3ebcfa, #166b95);
  background-size: 400% 400%;

  animation: gradient-e60a44dc 15s ease-in-out infinite;
  color: #ffffff;
}

#detail .fa {
  color: #000000;
  font-size: 48px;
}



/*---------------------------------------
    Video section              
-----------------------------------------*/
#video iframe {
  border: none;
  border-radius: 15px;
  padding: 0px 5px 0px 5px;
}
@media screen and (max-width: 767px) {
  #video .container {
    padding-top: 20px; /* Añadir un espacio superior para evitar la superposición del video */
  }

  #video h2 {
    font-size: 24px; /* Reducir el tamaño del título */
  }

  #video p {
    font-size: 14px; /* Reducir el tamaño del texto */
  }

  #video .btn {
    margin-top: 20px; /* Añadir un espacio superior al botón para evitar que se oculte */
  }
}



/*---------------------------------------
  servicios section              
-----------------------------------------*/
#servicios {
  background: #f9f9f9;
}

#servicios h3 {
  font-size: 17px;
  margin-bottom: 0px;
}

#servicios h6 {
  color: #666;
  margin-top: 4px;
  margin: 0px 4px;
}

#servicios img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#servicios .col-md-3 {
  display: block;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 22px;
}

@keyframes gradient-e60a44dc {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#servicios .servicios-wrapper {
  background: linear-gradient(-45deg, #4590c9, #166b95, #3ebcfa, #166b95);
  background-size: 400% 400%;
  animation: gradient-e60a44dc 15s ease-in-out infinite;
  padding-bottom: 22px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  /* Puedes ajustar los valores según tus preferencias */
}

@media only screen and (max-width: 767px) {
  #servicios {
    background: #f9f9f9;
  }

  #servicios h3 {
    font-size: 16px;
    /* Ajusta el tamaño de fuente según tus preferencias */
    margin-bottom: 5px;
    /* Ajusta el margen según tus preferencias */
  }

  #servicios h6 {
    font-size: 14px;
    /* Ajusta el tamaño de fuente según tus preferencias */
    color: #666;
    margin-top: 2px;
    /* Ajusta el margen según tus preferencias */
  }

  #servicios img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  #servicios .col-md-3 {
    display: block;
    width: 100%;
    padding-top: 20px;
    /* Ajusta el padding superior según tus preferencias */
    padding-bottom: 15px;
    /* Ajusta el padding inferior según tus preferencias */
    margin-bottom: 15px;
    /* Ajusta el margen inferior según tus preferencias */
  }

  #servicios .servicios-wrapper {
    padding-bottom: 15px;
    /* Ajusta el padding inferior según tus preferencias */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Puedes ajustar los valores según tus preferencias */
  }
}



/*---------------------------------------
   Program section              
-----------------------------------------*/
#program h4 {
  color: #808080;
  font-size: 12px;
}

#program h3 {
  margin-top: 16px;
}

#program .program-divider {
  border: 1px solid #f9f9f9;
  margin-top: 32px;
  margin-bottom: 42px;
}

#program span {
  padding-right: 12px;
}

#program img {
  border-radius: 50%;
}

.nav-tabs {
  margin-bottom: 20px;
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs>li>a {
  color: #000000;
  font-weight: 600;
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 0px;
}

.nav-tabs>li>a:hover {
  background-color: transparent;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: #f2545f;
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: #999;
}

.tab-content {
  padding-top: 20px;
}



/*---------------------------------------
    Regsiter section              
-----------------------------------------*/
.texto {
  background: url('../images/Diseño\ sin\ título.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  text-align: center;


}




.texto .form-control {
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 0px;
  color: #ffffff;
  margin-bottom: 16px;
}


@media(max-width:768px) {
  .texto h2 {
    font-size: 20px;


  }
  .texto h3 {
    font-size: 18px;


  }
}



/*---------------------------------------
   Faq section              
-----------------------------------------*/
#faq {
  background: #f9f9f9;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

#faq .panel-group {
  margin-top: 32px;
}

#faq .panel-group .panel {
  margin-bottom: 8px;
}

#faq .panel-default {
  border: none;
}

#faq .panel-default>.panel-heading {
  background: #f0f0f0;
  color: #505050;
}

#faq .panel-heading {
  border: none;
  padding-top: 8px;
  padding-bottom: 6px;
}

#faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top: none;
  padding-top: 22px;
  padding-left: 32px;
  padding-bottom: 22px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"] {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"]::after {
  content: "-";
  display: block;
  position: absolute;
  line-height: 1;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

#faq .panel-heading .panel-title a[data-toggle="collapse"].collapsed::after {
  content: "+";
}




/*---------------------------------------
   Venue section              
-----------------------------------------*/
.venue {
  background: url('../images/seccion1.jpeg');
  background-size: cover;
  background-position: center center;
  padding-top: 36rem;
  padding-bottom: 15rem;
}

.venue h2 {
  margin-bottom: -100px;
  margin-left: -50px;
  color: rgb(255, 255, 255);
  padding-top: 12px;
  padding-bottom: 18px;
}

@media (max-width:768px) {
  .venue h2 {
    font-size: 20px;
    margin-left: 0px;
  }

  .venue {
    
    padding-top: 15rem;}
}

/*---------------------------------------
   comentarios clientes             
-----------------------------------------*/
#testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 50px 0;
  background: url('ruta/de/tu/imagen.jpg') repeat; /* Reemplaza 'ruta/de/tu/imagen.jpg' con la ruta de tu imagen */
}


.testominial-heading {
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-heading h1 {
  font-size: 2.2 rem;
  font-weight: 500;

  color: #000000;
  padding: 10px 20px;


}

.testimonial-heading span {
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-decoration: uppercase;
}

.testimonial-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.testimonial-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;

}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: #3d3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.name-user span {
  color: #979797;
  font-size: 0.8rem;

}

.reviews {
  color: #f9d71c;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}

.client-commet p {
  font-size: 0.9rem;
  color: #4b4b4b;
}

.testimonial-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.6s;
}

@media (max-width:1060px) {
  .testimonial-box {
    width: 45%;
    padding: 10px;
  }
}

@media (max-width:790px) {
  .testimonial-box {
    width: 100%;
  }

  .testimonial-heading h1 {
    font-size: 1.4rem;
  }

}

@media (max-width:340px) {
  .box-top {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .reviews {
    margin-top: 10px;
  }
}


/*---------------------------------------
   Sponsors section              
-----------------------------------------*/
#sponsors img {
  margin-top: 18px;
}


.sponsors-section {
  text-align: center;
  padding: 20px;
}

.sponsors-section h2 {
  color: #333;
}

.sponsor-images {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


.sponsor img {
  width: 350px;
  /* Ajusta el tamaño de las imágenes según sea necesario */
  height: auto;
  border: 0.5px solid #ddd;
  border-radius: 5px;
}

.sponsor:hover {
  opacity: 1;
  transform: translateY(0);
}


/*---------------------------------------
   Contact section              
-----------------------------------------*/
.contact {
  background: url('../images/contact-bg.jpg');
  background-size: cover;
  background-position: center center;

}

.contact .contact_des {
  padding-top: 3rem;
  border-radius: 15px;
  
}

.contact_des {
  background-color:#0b498d; /* Puedes cambiar el color a tu preferencia utilizando un código de color hexadecimal, RGB, o un nombre de color */
  padding: 15px; /* Añadir relleno para mejorar la apariencia visual */
}

.contact .contact_detail {
  background: #ffffff;
  padding: 5rem 5rem 5rem 5rem;
  border-radius: 15px;
}

.contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;

}

.contact .form-control:focus {
  border-bottom-color: #999;
}

.contact input {
  height: 45px;
}

.contact input[type="submit"] {
  background: #51aef3;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 12px;
  transition: all 0.4s ease-in-out;
}

.contact input[type="submit"]:hover {
  background: #0b498d;
}



/*---------------------------------------
   Footer section              
-----------------------------------------*/
footer {
  background-attachment: fixed;
}



/* Back top */
.go-top {
  background-color: #222;
  bottom: 2em;
  right: 2em;
  color: #ffffff;
  font-size: 32px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.go-top:hover {
  background: #f2545f;
  color: #ffffff;
}


/*---------------------------------------
   Social icon             
-----------------------------------------*/
.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  color: #666;
  border-radius: 100px;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
}

.social-icon li a:hover {
  background: #0b498d;
  color: #ffffff;
}


/*---------------------------------------
   Responsive styles            
-----------------------------------------*/
@media (max-width: 980px) {

  p {
    font-size: 13px;
  }

  .custom-navbar .navbar-brand {
    font-size: 2rem;
  }

  .custom-navbar .nav li a {
    font-size: 11px;
    line-height: 20px;
  }

  .header {
    height: 65vh;
  }

  #video iframe {
    margin-top: 42px;
  }

  .contact .contact_detail {
    background: #ffffff;
    padding: 10rem 3rem 10rem 5rem;
  }

}

@media (max-width: 768px) {

  .custom-navbar .navbar-brand {
    line-height: 20px;
  }


  #detail .col-md-4,
  .texto form {
    padding-top: 32px;
  }

  .nav-tabs>li>a {
    font-size: 13px;
  }

  #program img {
    padding-bottom: 32px;
  }

  #sponsors img {
    padding-top: 22px;
  }

  .contact .contact_detail {
    margin-top: 10px;
  }

}

@media (max-width: 760px) {

  .header {
    height: 100vh;
  }

}